.question:not(:empty) {
    font-weight: 450;
    padding: 1rem;
    margin-bottom: 0.375em;
    background-color: #e9eff8;
    border-radius: 7em;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.number {
    font-weight: 300;
    margin-right: 0.5em;
}

.options {
    list-style: none;
    padding-left: 0;
    margin: 0.5 rem;
}

.options li {
    display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: 0.2em;
    padding: 0.5em 0.8em 0.5em 0.5em;
    margin-bottom: 1em;
    background-color: whitesmoke;
}

.options p {
    max-width: none;
    font-weight: bold;
}

.options-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-color: #e8e8e8;
    padding: 0.5em;
    margin-right: 0.5em;
}

.options-thumb img {
    display: block;
    width: 100%;
    height: auto;
}
